<!DOCTYPE html>
<html>
<head>
  <title>PotholesBackend</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--polymer imports-->

  <link rel="import" href="/assets/core-toolbar/core-toolbar.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-toolbar/core-toolbar.css" />

  <link rel="import" href="/assets/core-header-panel/core-header-panel.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-header-panel/core-header-panel.css" />

  <link rel="import" href="/assets/core-icon-button/core-icon-button.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-icon-button/core-icon-button.css" />

  <link rel="import" href="/assets/core-menu/core-menu.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-menu/core-menu.css" />

  <link rel="import" href="/assets/core-item/core-item.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-item/core-item.css" />

  <link rel="import" href="/assets/core-dropdown/core-dropdown.html">

  <link rel="import" href="/assets/core-menu-button/core-menu-button.html">

</head>
<body>

<%= yield %>
<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>
</body>
</html>
