<!DOCTYPE html>
<html>
<head>
  <title>PotholesBackend</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="import" href="/assets/core-toolbar/core-toolbar.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-toolbar/core-toolbar.css" />
  <link rel="import" href="/assets/core-header-panel/core-header-panel.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-header-panel/core-header-panel.css" />
  <link rel="import" href="/assets/core-icons/core-icons.html">
  <link rel="stylesheet" type="text/css" href="/assets/core-icons/core-icons.css" />
  <link rel="import" href="/assets/paper-icon-button/paper-icon-button.html">
  <link rel="stylesheet" type="text/css" href="/assets/paper-icon-button/paper-icon-button.css" />

</head>
<body>

<%= yield %>
<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>
</body>
</html>
